body {
	background: #fff;
	border: 20px solid #0085ff;
}

.wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

/* Header */
header {
	float: left;
	background-color: #fff;
	position: fixed;
	margin: 0 0 0 2.5em;
}

header .logo {
	font-family: "lft-etica", sans-serif;
	float: left;
	font-size: 3em;
	font-weight: 900;
	margin-bottom: .5em;
}

header a {
	color: #0085ff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "lft-etica", sans-serif;
	font-weight: 900;
	font-size: 2em;
}

header a:hover {
	color: #dfdfdf;
}

header li {
	text-decoration: none;
	display: block;
	margin: .5em 0;
}

header ul {
	margin: 0;
	padding: 0;
}

/*  Home  */
h1 {
	font-family: "lft-etica", sans-serif;
	font-size: 4em;
	font-weight: 900;
	color: #0085ff;
	margin: 0;
}

h2 {
	font-family: "lft-etica", sans-serif;
	font-size: 2.5em;
	font-weight: 900;
	color: #0085ff;
}

main {
	width: 800px;
	margin-left: 540px;
	margin-top: 1em;
}