/**************/
/** Main Style
/**************/

body {
  min-width: 290px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: #fff;
  font: normal 100%/1.5 "lft-etica", sans-serif;
}

header {
  padding-top: 2em;
}

h1 {
  font-size: 3em;
  line-height: 1.25em;
  color: #0085ff;
  margin-top: .2em;
  width: 100%;
}

h2 {
  width: 100%;
  font-size: 1.5em;
  color: #0085ff;
  margin: 1em 0 .5em;
}

p {
  width: 100%;
  margin-bottom: 1em;
  color: #0085ff;
  font-size: 1.25em;
}

p.intro {
  font-size: 1.5em;
  color: #0085ff;
  font-weight: bold;
}

a {
  color: #0085ff;
  text-decoration: underline;
}

a:active,
a:hover {
  outline: 0;
}

.btn {
  background: #fff;
  border: 5px solid #08f;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 110%;
}

.btn a {
  text-decoration: none;
}

.btn:hover {
  background: #08f;
}

.btn:hover a {
  color: #fff;
}

.main {
  padding: 0 10em;
  position: fixed;
  top: 1em;
}

.main::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: rgba(0,0,0, .15);
  width: 8px;
  height: 8px;
}

.main::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(0,0,0, .4);
}

.logo {
  color: #e6e6e6;
  font-size: 2em;
  font-weight: 900;
  padding: 1em 0 0 1em;
  width: 100%;
  text-decoration: none;
}

.nav {
  position: absolute;
  width: 24%;
  top: 1em;
  left: 0;
}

.nav ul {
  display: block;
  width: 100%;
  list-style: none;
}

.nav li {
  width: 100%;
  display: block;
}

.nav a {
  color: #e6e6e6;
	font-size: 2em;
	font-weight: 900;
  display: block;
  padding: 0 0 0 1em;
  width: 100%;
  text-decoration: none;
}

.nav a:hover { color: #0085ff; }
.nav .active a { color: #0085ff; }

.active {
  color: #0085ff !important;
}

.group {
  border: 5px solid;
  border-color: #e6e6e6;
  margin: 1em 2em 1em 0;
  width: 45%;
  float: left;
  text-align: center;
}

.group .title {
  font-size: 1.75em;
  font-weight: bold;
}

.group a {
  text-decoration: none;
}

ol {
  color: #0085ff;
  font-size: 1.5em;
}

ol li a {
  font-weight: bold;
  text-decoration: none;
}
