/**************/
/** BODY STYLEZ
/**************/

body {
  min-width: 290px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: #fff;
  font: normal 100%/1.5 "lft-etica", sans-serif;
}

header {
  padding-top: 2em;
}

h1 {
  font-size: 4em;
  line-height: 1.125em;
  color: #0085ff;
  margin-top: .2em;
  width: 100%;
}

h2 {
  width: 100%;
  font-size: 1.5em;
  color: #0085ff;
  margin: 1em 0 .5em;
}

p {
  width: 100%;
  margin-bottom: 1em;
  color: #0085ff;
}

p.intro {
  font-size: 1.25em;
  color: #0085ff;
  font-weight: bold;
}

a {
  color: #0085ff;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

.btn {
  background: #fff;
  border: 5px solid #08f;
  padding: 10px 20px;
  border-radius: 25px;
}

.btn:hover {
  background: #08f;
}

.btn:hover a {
  color: #fff;
}

.main {
  padding: 0 10em;
  position: fixed;
  top: 1em;
}

.main::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: rgba(0,0,0, .15);
  width: 8px;
  height: 8px;
}

.main::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(0,0,0, .4);
}

.logo {
  color: #e6e6e6;
  font-size: 2em;
  font-weight: 900;
  padding: 1em 0 0 1em;
  width: 100%
  margin-top: 1em;
}

#nav {
  position: absolute;
  width: 24%;
  top: 1em;
  left: 0;
}

#nav ul {
  display: block;
  width: 100%;
  list-style: none;
}

#nav li {
  width: 100%;
  display: block;
}

#nav a {
  color: #e6e6e6;
  font-family: "lft-etica", sans-serif;
	font-size: 2em;
	font-weight: 900;
  display: block;
  padding: 0 0 0 1em;
  width: 100%;
}

#nav a:hover { color: #0085ff; }
#nav .active a { color: #0085ff; }

.active {
  color: #0085ff !important;
}

.group {
  border: 5px solid;
  border-color: #e6e6e6;
  margin: 1em 2em 1em 0;
  width: 45%;
  float: left;
  text-align: center;
}

.group .title {
  font-size: 1.75em;
  font-weight: bold;
}

ol {
  color: #0085ff;
  font-size: 1.5em;
}

ol li a {
  font-weight: bold;
}

@media screen and (max-width: 55em) {
  .js #nav {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
  }
  #nav {
    top: 0;
    width: 100%;
    position: relative;
  }
  #nav.opened { max-height: 9999px }
  #nav a:hover { background: transparent }
  #nav .active a:hover { color: #fff; background: rgba(0,0,0, .3) }
  .main {
    -webkit-overflow-scrolling: auto;
    box-shadow: none;
    padding: 0 2em 2em;
    border-radius: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .main::-webkit-scrollbar { background-color: transparent }

  div {
    padding-left: 2em;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  body {
    -webkit-background-size: 200px 200px;
    -moz-background-size: 200px 200px;
    -o-background-size: 200px 200px;
    background-size: 200px 200px;
  }
}

@media screen and (min-width: 56em) {
  #nav { width: 18em }
  .main { width: auto; left: 15em }
}
