<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel "shortcut icon" href="">
        <link rel="stylesheet" type="text/css" href="/components/normalize-css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

        <!-- TYPEKIT -->
        <script type="text/javascript" src="//use.typekit.net/tsm2ejn.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    </head>
    <body>
    	<header>
            <div class='container'>
                <a href='/' class='logo'>Orlando<span>Tech</span></a>
    			<nav>
    				<a href="/">Meetup</a>
    				<a href="/#groups">Groups</a>
    				<a href="/#forum">Forum</a>
                    <a href="/#built">Built In</a>
                    <a href="/blog">Blog</a>
    			</nav>
            </div>
		</header>
		<main>
        	{{ content }}
        </main>
    </body>
</html>
