<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel "shortcut icon" href="">
        <link rel="stylesheet" type="text/css" href="/components/normalize-css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

        <!-- TYPEKIT -->
        <script type="text/javascript" src="//use.typekit.net/tsm2ejn.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    </head>
    <body>
        <div class="wrapper">
        	<header>
                <div>
                    <div><a href='/' class='logo'>Orlando Tech</a></div>
        			<nav>
                        <ul>
            				<li><a href="/meetup">Meetup</a></li>
            				<li><a href="/groups">Groups</a></li>
            				<li><a href="/forum">Forum</a></li>
                            <li><a href="/events">Events</a></li>
                            <li><a href="/built-in">Built In</a></li>
                            <li><a href="/blog">Blog</a></li>
                        </ul>
        			</nav>
                </div>
    		</header>
    		<main>
                <div>
            	   {{ content }}
                </div>
            </main>
        </div>
    </body>
</html>
